{% extends 'admin.html.twig' %}

{% block page_title %}
    Tipo de Pet
{% endblock %}

{% block content %}

    <div class="card card-body">
        <form action="#" method="post">
            <label for="name">Nome</label>
            <input type="text" id="name" name="name" class="form-control">
            <br>

            <button class="btn btn-primary">Enviar</button>
        </form>
    </div>

{% endblock %}

{% block javascripts %}
    <script></script>
{% endblock %}