{% extends 'admin.html.twig' %}

{% block title %} Admin - Dashboard {% endblock %}
{% block page_title %} Bem vindo, ao dashboard dos Pets {% endblock %}

{% block content %}
    <marquee behavior="alternate">
        <h1>Ola mundo</h1>
    </marquee>
{% endblock %}